<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Liste de mes livres</title>
    <meta name="description" content="Listes des livres avec noms et auteurs">
</head>
<body>
    <h1>Ma liste de livres</h1>
    <ul id="liste">
        
    </ul>
    <form id="books-form">
        <label for="title">Titre</label>
        <input type="text" name="title" id="title">
        <label for "author">Nom de l'auteur</label>
        <input type="text" name="author" id="author">
        <input type="submit" value="Sauvegarder">
    </form>

    <script>
        document.getElementById('books-form').addEventListener('submit', function(e) {
            e.preventDefault();
            let form = new FormData(document.getElementById('books-form')); // créer un objet récupération des données du formulaire
            console.log(form)
            let object = {};
            form.forEach((value, key) => {
                object[key]=value;
            })
            var json = JSON.stringify(object); // convertit l'objet json en string
            fetch('api/books', { // envoyer par fetch le fichier JSON
                headers : {
                    'Accept' : 'application/json',
                    'Content-Type' : 'application/json'
                },
                method:'POST',
                body: json // passe l'objet json dans le corps de la requête
            }).then(response => {
                response.json().then(data => {
                    let listeStr = data.reduce((prev, current) => {
                        return `${prev}\n
                        <li><b>Titre</b>:${current.title} ===> <b>Auteur</b>: ${current.author}</li>`
                    }, '') // commence par une string nulle
                    document.getElementById('liste').innerHTML=listeStr;
                })
            }).catch(err => {
                console.log(err);
            })
        })
        // Méthode fetch appelle le fichier json et renvoie une promesse au lieu d'un callback ($().get)
        fetch('/api/books')
            .then(response => {
                response.json().then(data => {
                    let listeStr = data.reduce((prev, current) => {
                        return `${prev}\n
                        <li><b>Titre</b>:${current.title} ===> <b>Auteur</b>: ${current.author}</li>`
                    }, '') // commence par une string nulle
                    document.getElementById('liste').innerHTML=listeStr;
                })
            }).catch(err => {
                console.log(err);
            })
    </script>
</body>
</html>